@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite; /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite; /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite; /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

/* Black Buttons w Gradient */

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out; /* Standard transition for all modern browsers */
}

.bn632-hover:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out; /* Standard transition for hover */
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn25 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

/* Green Buttons w Gradient */

.bn633-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border-radius: 50px;
  background-size: 300% 100%;
  transition: all .4s ease-in-out; /* Standard transition for all modern browsers */
}

.bn633-hover:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.bn633-hover:focus {
  outline: 2px solid rgba(23, 168, 108, 0.75); /* Matches the button's shadow color */
}

.bn633-hover.bn22 {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}


/* Font for Prompt */
.bet-amount {
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-size: 40px;
  color: #000;
}

/* Center All Items */
.parent {
  display: flex;
  flex-direction:column;
  align-items: left;
}
/* Input Bar */
.input_bar{
  margin: 20px;
  background: transparent;
  border: 3px solid #000;
  border-radius: 3px;
  font: 400 30px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
}

::placeholder {
  color: #000;
  opacity: 1; /* Firefox */
  font: 400 30px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
}

#bet {
  color:#000;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Flexbox */

.container {
  z-index: 2;
  display:block;
  flex-direction: column;
  align-items: left;
  background-color: #e9ecef;
  margin-top: 20px;
  padding: 100px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Title */

.title {
  z-index: 3;
  font-size: 70px;
  margin-top: 0px;
}

.output {
  margin-top: 100px;
  font-size: 70px;
  font-weight: bold;
}
